/*++
Copyright (c) 2005-2007  Alfredo Costalago

---- RESOURCE VERSION INFO ----

--*/

#include <windows.h>

#include <ntverp.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,0,0,1
 PRODUCTVERSION 6,0,0,0
 FILEFLAGSMASK VER_FILEFLAGSMASK
 FILEFLAGS VS_FF_PRIVATEBUILD//VS_FF_PRERELEASE
 FILEOS 0x40000L
 FILETYPE 0x3L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004b0"
        BEGIN
            VALUE "FileDescription", "Hid gameport minidriver"
            VALUE "FileVersion", "3.0.0.1"
            VALUE "InternalName", "x36_hidg.sys"
            VALUE "LegalCopyright", "© Alfredo Costalago. All rights reserved"
            VALUE "OriginalFilename", "hidgame.sys"
            VALUE "ProductName", "XHOTAS Driver"
            VALUE "ProductVersion", "6.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1200
    END
END

